.app {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 100%;
}

.hare {
	--hover-scale: 1.1;
	--normal-scale: 1;
	--active-scale: 0.9;

	background: url('./trans_hare.png') 50% 50% no-repeat;
	background-size: contain;

	position: absolute;
	z-index: 10;
	top: 50%;
	left: 50%;
	width: 256px;
	height: 256px;
	margin-left: -128px;
	margin-top: -128px;

	cursor: pointer;
	outline: 0;

	transition: transform 0.2s ease;
	transform-origin: 15% 80%;
	transform: scale(var(--normal-scale));
}

@media screen and (min-width: 600px) {
	.hare {
		width: 512px;
		height: 512px;
		margin-left: -256px;
		margin-top: -256px;
	}
}

.hare:hover {
	transform: scale(var(--hover-scale));
}

.hare:active {
	transform: scale(var(--active-scale));
}

.hare:focus {
	outline: 0;
}
