* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: #fff;
	color: #000;
	cursor: default;
	text-align: left;
	user-select: none;

	font-family: sans-serif;
	font-size: 1em;
}

a {
	color: rgb(182, 154, 255);
}

:focus {
	outline: 1px solid rgb(182, 154, 255);
}
