* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: #f7b5c8;
	color: #000;
	cursor: default;
	text-align: left;
	overflow: hidden;
	user-select: none;

	font-family: sans-serif;
	font-size: 1em;
}

a {
	color: rgb(182, 154, 255);
}

:focus {
	outline: 1px solid rgb(182, 154, 255);
}

html,
body,
#root {
	height: 100%;
}

button {
	-webkit-tap-highlight-color: transparent;
}

#noscript-error {
	font-size: 2em;
	padding: 2em;
	text-align: center;

	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

/* Links */
#links {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 20;

	display: flex;

	padding: 8px;
	padding-right: calc(env(safe-area-inset-right) + 8px);
	padding-top: calc(env(safe-area-inset-top) + 8px);
}

.websiteLink {
	opacity: 0.6;
	margin-left: 8px;
}

.websiteLink:hover,
.websiteLink:active,
.websiteLink:focus {
	opacity: 1;
}

.discordIcon,
.githubIcon {
	width: 20px;
	height: 20px;
	display: block;
	fill: #171515;
}

.websiteLink:hover .discordIcon,
.websiteLink:active .discordIcon,
.websiteLink:focus .discordIcon {
	fill: #5865f2;
}
